[Unit]
Description=Temperature Board Controller
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 -u Boards/BoardController.py
WorkingDirectory=/home/pi/controller/server
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target